$white: #ffffff;
$dark: #382933;
$primary-color: #FA8220;
$black: #18191B;
$gray: #74787C;
$green: #519872;
$green-dark: #3b5249;
$blue-light: #F7F9FA;
$lora: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$lato: 'Lato', sans-serif;